.about_me {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin: 0 auto; 
    max-width: 1200px;
  }
  
  .about_text {
    margin-bottom: 2rem;
  
  }
  
  .about_me h1 {
    font-size: 7rem;
    font-weight: 700;
    margin-top: 1.0rem;
    line-height: 2;
    color: var(--main-color);
    text-shadow: 0 0 25px var(--main-color);
  }
  
  .about_content p {
    font-size: 2.5rem;
    font-weight: 500;
    line-height: 1.8;
    max-width: 1000px;
    text-align: left; 
  }
  
  .about_me h2 {
    font-size: 5rem;
    font-weight: 300;
    margin-top: 4.5rem;
    line-height: 2;
    color: var(--main-color);
    text-shadow: 0 0 25px var(--main-color);
  }

   .timeline{
  margin-left: 2rem;
   margin-right: auto;
  font-size: 2.5rem;
  text-align: left;
  line-height: 1.5;
  max-width: 1000px;
 }

  .skills,
  .timeline {
    list-style: none;
    padding: 0;
    text-align: center;
  
  }
  
  .skills li{
    margin-bottom: 0.5rem;
   
  }

 .skills {
  display: grid;
  grid-template-columns: repeat(5, 1fr); 
  gap: 1rem; 
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 1.5;
  max-width: 1000px;
  text-align: center; 
  margin: 0 auto; 
  list-style: none;
  padding: 0;
}

.skills_padding{
position: relative;
  }

